


<style>
    .fullpage-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
</style>
@*<div class="navigation">
    <button @@click="moveNext()">next</button>
    <button v-on:click="movePrev()">prev</button>
    <button onclick="moveNext">next</button>
    <button onclick="movePrev">prev</button>
</div>*@


<div id="app">
    <template>
        <div class="fullpage-container">
            <div class="fullpage-wp" v-fullpage="opts">
                <div class="page-1 page">
                    <div class="img-back">
                    </div>
                    <div class="img-back2">
                    </div>
                    <div class="textpage" v-animate="{value: 'fadeInDown',delay: 300}">
                        <h3 class="part-1">_Ищем сотрудника в Cnails</h3>
                        <div class="buttoms" v-animate="{value: 'fadeInDown',delay: 0}">
                            <button> <span>Отправить</span> <span>резюме</span></button>
                            
                        </div>


                        @*<p class="part-1" v-animate="{value: 'bounceInLeft'}">vue-fullpage</p>*@
                    </div>




                </div>
                <div class="page-2 page">
                    <div>
                        <h3 class="part-2" v-animate="{value: 'fadeInRight',delay: 0}">Наша компания</h3>
                        <p class="part-2" v-animate="{value: 'fadeInRight',delay: 300}">
                            Бла-бла,круты,лидеры рынка
                        </p>
                        <p class="part-2" v-animate="{value: 'fadeInRight',delay: 400}">
                            Нами пользуются
                        </p>
                        <button class="part-2" v-animate="{value: 'fadeInRight',delay: 600}">Факты</button>
                    </div>
                </div>
                <div class="page-3 page">
                    <div class="textpage-page3" v-animate="{value: 'fadeInUp'}">
                        <h3>Заполни заявку</h3>
                        @using (Html.BeginForm("Show", "Home", FormMethod.Post))
                        {
                            <div class="form">

                                <div class="labels">


                                    <label for="name">Имя</label>

                                    <label for="fio">Фамилия</label>
                                    <label for="Number">Number</label>
                                    <label for="mail">Почта</label>
                                    <label for="name">О себе</label>


                                </div>
                                <div class="inputs">
                                    <input name="name" type="text" value="" />
                                    <input name="SurName" type="text" value="" />
                                    <input name="Number" type="text" value="" />
                                    <input name="mail" type="text" value="" />
                                    <input name="other" type="text" value="" />
                                </div>


                            </div>
                            <input type="submit" value="Отправить" />

                        }


                    </div>
                    

                    @*<p class="part-3" v-animate="{value: 'bounceInLeft', delay: 0}">vue-fullpage</p>
        <p class="part-3" v-animate="{value: 'bounceInRight', delay: 300}">vue-fullpage</p>
        <p class="part-3" v-animate="{value: 'bounceInDown', delay: 600}">vue-fullpage</p>
        <p class="part-3" v-animate="{value: 'zoomInDown', delay: 900}">vue-fullpage</p>*@
                </div>
            </div>
        </div>
        @*<button v-on:click="moveNext">next</button>W*@
    </template>
</div>
